---
// import TextLink from '../elements/3textlink.astro'
import Resume from '../elements/Resume.astro'
---

<div>
  <!-- <TextLink /> -->
  <Resume />
</div>

<style>
  p {
    padding: 0;
    margin: 0;
  }
  div {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(10, 10, 10));
    width: 100vw;
    height: 100vh;
  }
</style>