---
// import TextLink from '../elements/3textlink.astro'
import Resume from '../elements/Resume.astro'
import ResumeItem from '../elements/ResumeItem.astro'

import c1 from '../../public/certificates/W3_cdev.pdf';
import c2 from '../../public/certificates/UC_SEO.jpg';
import c3 from '../../public/certificates/OU_student.pdf';
import c4 from '../../public/certificates/OU_SCOD.pdf';
---

<div>
  <!-- <TextLink /> -->
  <Resume />
  <div class="resumeItems" >
    <ResumeItem key={4} title={"core coding concepts, OpenUniversity"} text={"I did this course etc.."} file={c4} filetype={"pdf"} width={300} height={300} />
    <ResumeItem key={3} title={"Being an OU Student, OpenUniversity"} text={"I did this course etc.."} file={c3} filetype={"pdf"} width={300} height={300} />
    <ResumeItem key={2} title={"SEO ECommerce Mastery, Udemy"} text={"I did this course etc.."} file={c2} filetype={"jpg"} width={300} height={300} />
    <ResumeItem key={1} title={"Programming Using C#, W3Schools"} text={"I did this course etc.."} file={c1} filetype={"pdf"} width={300} height={300} />
  </div>
</div>

<script>
  // Define a function to toggle the display of the text and file
  function toggleDisplay(container) {
    const textAndFile = container.querySelector('.text-and-file');
    textAndFile.style.display = textAndFile.style.display === 'block' ? 'none' : 'block';
  }

  // Attach event listeners
  document.addEventListener('DOMContentLoaded', () => {
    const containers = document.querySelectorAll('.container');

    
  });

      // Add touch event listeners for mobile devices
      // container.addEventListener('touchstart', () => {
      //   container.style.backgroundColor = 'red';
      //   toggleDisplay(container);
      // );
</script>


<style>
  .resumeItems {
    width: 80vw;
  }
  p {
    padding: 0;
    margin: 0;
  }
  div {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(10, 10, 10));
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
