---
// import TextLink from '../elements/3textlink.astro'
import Resume from '../elements/Resume.astro'
import ResumeItem from '../elements/ResumeItem.astro'

import certificate from '../../public/certificates/W3_cdev.pdf';
---

<div>
  <!-- <TextLink /> -->
  <Resume />
  <div class="resumeItems" >
    <ResumeItem key={1} title={"C# Developmentcourse, W3Schools"} text={"I did this course etc.."} file={certificate} filetype={"pdf"} width={300} height={300} />
  </div>
</div>

<script>
  let openedResumeKey = 0;
  let collapseTimeoutId;

  function updateDisplay(key, show) {
    const activeItem = document.getElementById('resume-item-' + key);
    if (activeItem) {
      const textAndFile = activeItem.querySelector('.text-and-file');
      textAndFile.style.display = show ? 'block' : 'none';
    }
  }

  window.addEventListener('set-open-key', (event) => {
    if (collapseTimeoutId) {
      clearTimeout(collapseTimeoutId);
    }
    openedResumeKey = event.detail.key;
    updateDisplay(openedResumeKey, true);
  });

  window.addEventListener('clear-open-key', () => {
    collapseTimeoutId = setTimeout(() => {
      updateDisplay(openedResumeKey, false);
    }, 3000);
  });

  document.querySelectorAll('.container').forEach(item => {
    item.addEventListener('mouseleave', () => {
      window.dispatchEvent(new CustomEvent('clear-open-key'));
    });
  });
</script>

<style>
  .resumeItems {
    width: 80vw;
  }
  p {
    padding: 0;
    margin: 0;
  }
  div {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(10, 10, 10));
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
