---
const { prop } = Astro.props;
---

<div>
  <h2>Prop</h2>
  <p>{ prop }</p>
</div>



import TitleName from '../components/TitleName.astro';
---

<SiteLayout title="Animated SVG Drawing">
  <TitleName prop="Animated SVG Drawing" />