---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={ Astro.generator } />
		<title>{ title }</title>
	</head>
	<body>
		<slot>Nothing</slot>
	</body>
	<style>
		html, body {
			margin: 0;
			padding: 0;
		}

		.container {
			background-color: #f5f5;
		
			position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
		

			/* width: 41.625vw;
			height: 41.625vh;
			display: flex;
			justify-content: center;
			align-items: center; */
		}

	</style>
</html>